[submodule "includes-attribution"]
	path = _includes/modules/includes-attribution
	url = https://github.com/liquid-utilities/includes-attribution.git
	branch = main
[submodule "includes-translate"]
	path = _includes/modules/includes-translate
	url = https://github.com/liquid-utilities/includes-translate.git
	branch = master
[submodule "collection-home"]
	path = _layouts/modules/collection-home
	url = https://github.com/liquid-utilities/collection-home.git
	branch = master
[submodule "feed-atom"]
	path = _layouts/modules/feed-atom
	url = https://github.com/liquid-utilities/feed-atom.git
	branch = master
[submodule "feed-json"]
	path = _layouts/modules/feed-json
	url = https://github.com/liquid-utilities/feed-json.git
	branch = main
[submodule "feed-rss2"]
	path = _layouts/modules/feed-rss2
	url = https://github.com/liquid-utilities/feed-rss2.git
	branch = master
[submodule "includes-picture"]
	path = _includes/modules/includes-picture
	url = https://github.com/liquid-utilities/includes-picture.git
	branch = main
