[submodule "includes-attribution"]
	path = _includes/modules/includes-attribution
	url = https://github.com/liquid-utilities/includes-attribution.git
	branch = main
[submodule "includes-translate"]
	path = _includes/modules/includes-translate
	url = https://github.com/liquid-utilities/includes-translate.git
	branch = master
[submodule "collection-home"]
	path = _layouts/modules/collection-home
	url = https://github.com/liquid-utilities/collection-home.git
	branch = master
